* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
}

.homePic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.homePic img {
    max-width: 60%;
    border-radius: 8px;
}

.buyButton {
    position: absolute;
    top: 80%;
    left: 61%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.buyButton button {
    padding: 10px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}