* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f4ef;
}

.warning {
  height: 40px;
  width: 250px;
  position: absolute;
  right: 5px;
  top: 10%;
  background-color: rgb(210, 91, 91);
  font-size: 1.1rem;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}